<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>DIGIGO.html</title>
    <!--라이브러리-->
    <link rel="stylesheet" href="boot_css/bootstrap.min.css">
    <link rel="stylesheet" href="../boot_css/bootstrap-responsive.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!--css 연결 -->
    <link rel="stylesheet" href="init_page.css">
    
  </head>
  <body>
    <!--text-->
    <h2> <span>DIGIGO</span> </h2>
   
    <!--motion-->
    <div class="container">
      <div class="sol"> 
        <div style = "padding: 25% 1px 10% 3px;"> </div>
        <button type="button" class="btn btn-outline-primary btn-lg" onclick="location.href='../upload.html'";>JUST DRAW</button>  
        <div style = "padding: 10% 1px 25% 3px;"> </div>

          
      </div>
        
      <div class="cerros">
        <span class="c1"></span>
        <span class="c2"></span>
        <span class="c3"></span>
      </div>

      <div class="sea"></div>
      <div class="lineas">
      <span class="l1"></span>
        <span class="l2"></span> <span class="l3"></span> <span class="l4"></span>
        <span class="l5"></span> <span class="l6"></span> <span class="l7"></span><span class="l8"></span>
      </div>

      <div class="sol3"></div>
        <div class="arena"</div>
        <div class="arena3"><span class="arenas">
      </span></div>
        <div class="arenas3"></div>
        <div class="girl">
          <div class="legs3"></div>
          <div class="legs"></div>
          <div class="body7"></div>
          <div class="body3"></div>
          <div class="brazos"><div class="hands">
      </div></div>
        <div class="brazos3"><div class="hands3"></div></div>
         <div class="hut"></div>
         <div class="so3"></div>
      </div>
      <div class="bird5">
      <div class="bird7">
        <div class="head"><div class="ojo"></div><div class="boca"></div></div>
        <div class="ala3"></div>
        <div class="body"></div>
        <div class="ala"></div>
        <div class="cola"></div>
       </div>
      </div>
      <div class="bird">
      <div class="bird3">
        <div class="head"><div class="ojo"></div><div class="boca"></div></div>
        <div class="ala3"></div>
        <div class="body"></div>
        <div class="ala"></div>
        <div class="cola"></div>
       </div>
       <h3> <span id="sentence1">WHERE DO YOU WANT TO GO?</span> </h3>
      </div>
        <div class="so"></div>
        
    </div>

    

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="boot_js/bootstrap.min.js"></script>
  
</body>
</html>