@import url("base.css");

text {
  font-family: "Hi Melody", cursive;
  color: white;
  width: 100vw;
}

.container-fulid {
  width: 60%;
  height: 80vh;
  border-color: black;
  margin: 5% 20% 5% 20%;
}
#detailTitle {
  width: 100%;
  text-align: center;
}
#text1 {
  font-weight: bold;
  font-size: 4vw;
}
#contentContainer {
  display: flex;
  height: 80%;
}
#btnContainer {
  margin-top: 3%;
}
#left {
  background-color: skyblue;
  flex-basis: 49%;
  margin-right: 1%;
}
img {
  height: 100%;
  width: 100%;
}
#right {
  background-color: skyblue;
  flex-basis: 49%;
  margin-left: 1%;
  border-style: solid;
  border-width: thick;
  border-color: white;
}
.item {
  height: 33%;
}
#text2 {
  font-weight: bold;
  font-size: 3vw;
}
#text3 {
  font-weight: bold;
  font-size: 4vw;
  color: blue;
}
.button,
input[type="submit"],
input[type="button"] {
  max-width: 500px;
  min-width: 100px;
  margin: 0 auto;
  font-size: 2em;
  font-family: "Hi Melody", cursive;
}
