@import url("base.css");

text {
  color: white;
  width: 100%;
}
.container-fulid {
  width: 70%;
  height: 83vh;
  margin: 5% 15% 5% 15%;
  overflow: auto;
  padding: 0 2%;
}
#detailTitle {
  width: 100%;
  text-align: center;
  font-size: 3em;
  color: white;
  font-weight: bold;
}
#text1 {
  font-weight: bold;
  font-size: 4vw;
}
#text2 {
  color: blue;
}
#text3{
  font-weight:bold;
  font-size:2em;
  color:#02c3d1;
}
#map, #resultimage{
  width:45%;
  
}
#row2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#nearby_place{
 
  display: flex;
  justify-content: space-between;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.listContainer {
  background-color: rgba(173, 243, 255,0.5);
  padding: 8px 0;
  margin-top: 2%;
}
.list {
  margin: 4% 5%;
}
.listTitle {
  font-size: 2.4em;
  margin-bottom: 24px;
  color: white;
  font-weight: bold;
  text-align: left;
}
.list > p {
  font-size: 2em;
  text-align: left;
  font-weight: bold;
}
.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.arountTitle {
  font-size: 2em;
  font-weight: bold;
  padding: 8px 0;
}
.aroundImage {
  width:47%;
  height: 300px;
}
.aroundImage > img {
  height: 100%;
  width: 100%;
}