<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, intitial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!--글씨체-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap" rel="stylesheet">

    <title>Digigo UPLOAD</title>

    <style>
    </style>

    <!--css-->
    <style>
        body {
            height: 100vh;
            background-image: url('{% static "admin/img/backgroundimage.jpg" %}');
            background-size: 100% 100%;
            background-repeat:no-repeat;
            text-align: center;
        }

        .container{
            width: 60%;
            height: 80vh;
            border-color:black;
            margin: 5% 20% 5% 20%;
        }
    </style>
</head>
<body>
    <div class="container-fulid">          
        <!--세 부분으로 나눔-->
        <div class="item" id="blank"> </div>

        <div class="col" id="inputcol">

            <div class="row" id="row1">
                <text id="text1"> 이곳인가요~? </text>
            </div>
            
            <!--공간확보-->
            <div class="row" id="row0"></div>

            <div class="row" id="row2">
                <!--이미지-->
                <div class="col" id="left">
                    <img alt="이미지를 보여주세요." src={{userPicture.UserDrawnPicture.url}}>
                </div>
                
                <!--결과-->
                <div class="col" id="right">

                    <div class="row" id="row3">
                        <!--여행지 이름-->
                        <div class="row" id="row5"> <text id="text2">{{userPicture.FirstTravel}}</text> </div>
                        <!--확률-->
                        <div class="row" id="row5"> <text id="text3">{{userPicture.FirstTravelRate}}</text> </div>
                    </div>


                    <div class="row" id="row3">
                        <!--여행지 이름-->
                        <div class="row" id="row5"> <text id="text2">{{userPicture.SecondTravel}}</text> </div>
                        <!--확률-->
                        <div class="row" id="row5"> <text id="text3"> {{userPicture.SecondTravelRate}}</text> </div>
                    </div>


                    <div class="row" id="row3">
                        <!--여행지 이름-->
                        <div class="row" id="row5"> <text id="text2">{{userPicture.ThirdTravel}}</text> </div>
                        <!--확률-->
                        <div class="row" id="row5"> <text id="text3">{{userPicture.ThirdTravelRate}}</text> </div>
                    </div>

                </div>

            </div>

            <div class="row" id="row0"></div>
            <div class="row" id="row4">
                <div class="col" id="col1"></div>
                <div class="col" id="col1"> <input type="submit" class="btn" value="상상 속 여행지 추천받기"> </div>
                <div class="col" id="col1"></div>
            </div>

        </div>
        <div class="item" id="blank"> </div>
    </div>

</body>
</html>