<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, intitial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=ax1eesyux3"></script>
    
    <!--글씨체-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap" rel="stylesheet">
  
    <title>Digigo UPLOAD</title>

    <script type="text/javascript" src="{% static 'admin/js/info.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'admin/css/info.css' %}">
    <style>
        body {
        background-image: url('{% static "admin/img/backgroundimage.jpg" %}');
        }
    </style>
</head>
<body>

    <div class="container-fulid" >
        <div class="row">
            <text id="text1"> 여행지로 <text id="text2">경포대</text> 어떠신가요? </text>
        </div>

        <div class="row1">
            <div id="map" style="width:700px;height:400px;"></div>
            <div class="resultImage">
                <img src="{% static 'admin/img/gyongpodae.jpg' %}" alt="">
            </div>
        </div>

        <div class="listContainer">
            <div class="list">
                <div class="listTitle">관광가이드</div>
                <p>
                    경포해변은 강릉 시내에서 15분 정도면 도착 할 수 있다. 해변에 발을 딛으면 거친 파도소리와 함께 시원한 바닷 내음이 맞이해준다. 탁 트인 해변의 장관은 마음을 가볍게 해주고 근심, 걱정을 날려주어 더할 나위 없이 매력적인 관광지이다. 경포해변에 도착하게 되면 늘어진 가로수를 따라 드라이브도 할 수 있다. 종종 카페도 있으니 입맛에 맞춰 경포해변을 즐길 수 있다.
                </p>
            </div>
    
    
            <div class="list">
                <div class="listTitle">주변여행지</div>
                <div class="row1">
                    <div class="item">
                        경포대
                    </div>
                    <div class="item">
                        사천해변
                    </div>
                    <div class="item">
                        안목해변
                    </div>
                </div>
            </div>  

        </div>      
    </div>
</body>
</html>