<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, intitial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=ax1eesyux3"></script>

    <title>Digigo UPLOAD</title>

    <script type="text/javascript" src="{% static 'admin/js/info_gyongpodae.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'admin/css/info.css' %}">
    <style>
        body {
        background-image: url('{% static "admin/img/backgroundimage.jpg" %}');
        }
    </style>
</head>
<body>

    <div class="container" >
        <div class="row">
            <div class="col-lg-8 panel panel-default">
                내가 추천받은 여행지는? - 경포대
            </div>
        </div>

        <div>
            <div id="map" style="width:400px;height:300px;"></div>
            <div class="row">
                <div class="col-lg-8 panel panel-default">
                    <img src="{% static 'admin/img/gyongpodae.jpg' %}" alt="" width="300px" height="200px">
                </div>
            </div>
        </div>

        
        <div>
            <div>
                <div><a href="https://www.gn.go.kr/tour/prog/lod/Sights/S0101/sub02_02_02/view.do?cid=434">관광가이드</a></div>
                <div>
                    경포해변은 강릉 시내에서 15분 정도면 도착 할 수 있다. 해변에 발을 딛으면 거친 파도소리와 함께 시원한 바닷 내음이 맞이해준다. 탁 트인 해변의 장관은 마음을 가볍게 해주고 근심, 걱정을 날려주어 더할 나위 없이 매력적인 관광지이다. 경포해변에 도착하게 되면 늘어진 가로수를 따라 드라이브도 할 수 있다. 종종 카페도 있으니 입맛에 맞춰 경포해변을 즐길 수 있다.
                </div>
            </div>
            <div>
                <div>주변여행지</div>
                <div>
                    <div>
                        경포대
                    </div>
                    <div>
                        사천해변
                    </div>
                    <div>
                        안목해변
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>