<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, intitial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=ax1eesyux3"></script>
    
    <!--글씨체-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap" rel="stylesheet">
  
    <title>Digigo UPLOAD</title>

    <script type="text/javascript" src="{% static 'admin/js/info_namsantower.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'admin/css/info.css' %}">
    <style>
        body {
            height: 100vh;
            background-image: url('{% static "admin/img/backgroundimage.jpg" %}');
            background-size: 100% 100%;
            background-repeat:no-repeat;
            text-align: center;
            font-family: "Hi Melody", cursive;
        }
    </style>
</head>
<body>
    <div class="container-fulid" >
        <div id="detailTitle">
            <text id="text1"> 여행지로 <text id="text2">남산타워</text> 어떠신가요? </text>
        </div>

        <div class="row">
            <div class="resultImage">
                <img src="{% static 'admin/img/tower.jpg' %}" alt="">
            </div>
            <div id="map" style="width:600px;height:400px;"></div>
        </div>

        <div class="listContainer">
            <div class="list">
                <div class="listTitle">위치</div>
                <p>
                    서울 용산구 남산공원길 105 <a href="https://search.naver.com/search.naver?sm=tab_hty.top&where=nexearch&query=%EB%82%A8%EC%82%B0%ED%83%80%EC%9B%8C+%EA%B8%B8%EC%B0%BE%EA%B8%B0&oquery=%EB%82%A8%EC%82%B0%ED%83%80%EC%9B%8C&tqi=hOZ0idprvh8ssDlvZYossssstEG-046179"> [ 경로 검색 ] </a> 
                </p>
            </div>

            <div class="list">
                <div class="listTitle">관광가이드</div>
                <p>
                    도심 속 로맨틱 아일랜드로 입지를 굳힌 남산서울타워는 예로부터 백년해로의 길지로 널리 알려진 남산(262m) 정상에 위치한 높이 236.7m의 탑으로, 해발 480m 위치에서 서울시를 360도 파노라마 뷰로 조망할 수 있는 최고의 전망을 자랑한다. 외국인이 선택한 관광 명소 1위로 꼽힌 바 있는 서울의 상징이자, 영원한 사랑을 꿈꾸는 전세계 연인들의 로맨스 성지이다. 연인들을 위한 로맨틱한 체험 콘텐츠 '사랑의 자물쇠'와 '하트 의자'가 큰 인기이다. 

                </p>
            </div>
    
    
            <div class="list">
                <div class="listTitle">주변여행지</div>
                <div class="row">
                    <div class="item">
                        <div class="aroundImage">
                            <img src="{% static 'admin/img/bongsudae.jpg' %}" alt="">
                        </div>
                        <div class="arountTitle">남산봉수대</div>
                    </div>
                    <div class="item">
                        <div class="aroundImage">
                            <img src="{% static 'admin/img/gil.jpg' %}" alt="">
                        </div>
                        <div class="arountTitle">서울성곽</div>
                    </div>
                    <div class="item">
                        <div class="aroundImage">
                            <img src="{% static 'admin/img/ginyeom.jpg' %}" alt="">
                        </div>
                        <div class="arountTitle">안중근의사기념관</div>
                    </div>
                </div>
            </div>  

        </div>      
    </div>
</body>
</html>