<!DOCTYPE html>
<html lang="ko">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DIGIGO.html</title>
    <!--부트스트랩 라이브러리-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!--글씨체-->
    <link href='https://fonts.googleapis.com/css?family=Shizuru' rel='stylesheet'>

    <script type="text/javascript" src="{% static 'admin/js/init_page.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'admin/css/init_page.css' %}">
    <style>
        body {
        background-image: url('{% static "admin/img/firstbackgroundimage.jpg" %}');
        }
    </style>

  </head>

  <body>
    
    <div class="container-fulid">
      
      <div class="col"></div>
      
      <div class="col"> 
        <div class="row"><text>DIGIGO</text></div> 
        <div class="row"> 
          <a class="sub" id="nextbtn" href="{% url 'pictureNew' %}">ClickHere</a>
        </div> 
      </div>

    </div>
  
          
  </body>

</html>