<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, intitial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <title>Digigo UPLOAD</title>

    <script type="text/javascript" src="{% static 'admin/js/upload.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'admin/css/upload.css' %}">
    <style>
        body {
        background-image: url('{% static "admin/img/backgroundimage.jpg" %}');
        }
    </style>
</head>
<body>

    <div class="container" >
        
        <!--세 부분으로 나눔-->
        <div class="item" id="blank"> </div>
        <div class="col" id="inputcol">
            
            <form action="pictureNew" method="POST" class="url_input" enctype="multipart/form-data">
                {% csrf_token %}
                <br>그림을 입력해 주세요 : <input type="file" id="file" name="UserDrawnPicture"><br>
                <div class="drop-zone">파일을 여기로 드래그하세요.</div>
                <!--<p>{{form.UserDrawnPicture}}</p>-->
                <p>어떤 그림인가요? : {{form.Destination_choice}}</p>
                <input type="submit" class="btn" value="Submit"  >
            </form>
            
        </div>
        <div class="item" id="blank"> </div>
        
    </div>
</body>
</html>